<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Bookstore - Edit book</title>
</head>

<body>
    <div>
        <h2>Edit book</h2>

        <div>
            <form th:object="${book}" th:action="@{../save}" action="#" method="post">
                <div>
                    <input type="hidden" th:field="*{id}" />
                </div>
                <div>
                    <label for="title">Title: </label> <br />
                    <input type="text" id="title" th:field="*{title}" required />
                </div>
                <div>
                    <label for="author">Author: </label> <br />
                    <input type="text" id="author" th:field="*{author}" required />
                </div>
                <div>
                    <label for="isbn">ISBN: </label> <br />
                    <input type="text" id="isbn" th:field="*{isbn}" required />
                </div>
                <div>
                    <label for="year">Publication year: </label> <br />
                    <input type="text" id="year" th:field="*{year}" required />
                </div>
                <div>
                    <label for="category">Category</label><br />
                    <select class="form-control" id="category" th:field="*{category}">
    					<option th:each="category: ${categories}" th:value="${category.categoryId}" th:text="${category.name}"></option>
                    </select>
                </div>
                <div>
                    <label for="price">Price: </label> <br />
                    <input type="text" id="price" th:field="*{price}" required />
                </div>
                <input type="submit" value="Save" />
                <input type="button" onclick="location.href='/booklist'" value="Cancel" />
            </form>
        </div>
    </div>
</body>

</html>